/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left a,
.navbar-right a {

  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  font-size: 20px;
}

.navbar-left a:hover,
.navbar-right a:hover {
  text-decoration: underline;
}
.logout-link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
    color: #007bff;
text-decoration: none;
  font-size: 18px;
}
